<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main" class="container">
    <div class="child">
<!--        <h1 id="game-title">Game Title</h1>-->
        <h2 id="main-message">Main Message Content</h2>
        <h2 id="result-message">Result Message Content</h2>

        <form id="game-form" action="play" method="post">
            <label id="enter-guess" class="input-label" for="guess">Enter guess text</label>
            <input id="guess" type="number" name="guess" />
            <input id="submit" type="submit" value="Submit"/>
        </form>
    </div>
    <footer id="footerId">
        <p>Footer placeholder</p>
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>