<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!-- footer section -->
<footer id="footerId" class="col-12 d-flex flex-column align-self-end justify-content-center bg-dark py-4">
    <div class="d-flex justify-content-center">
        <div class="">
            <a href="https://www.linkedin.com/in/mario-banay-1b531260" class="btn">
                <i class="fab fa-linkedin fa-2x m-2 text-white"></i>
            </a>
            <a href="https://github.com/MarioBanay/SecretNumberGame" class="btn">
                <i class="fab fa-github-square  fa-2x m-2 text-white"></i>
            </a>
        </div>
    </div>
    <div class="">
        <div class="">
            <h6 id="created-by" class="d-flex justify-content-center text-white">
                Created by Mario Banay
            </h6>
        </div>
    </div>
</footer>
<!--</html>-->